///////////////////////////////////////////////////////////////////////////////////////
//   ______     __   __   __     ______     ______   ______     ______     ______    //
//  /\  __ \   /\ \ / /  /\ \   /\  __ \   /\__  _\ /\  __ \   /\  == \   /\  ___\   //
//  \ \  __ \  \ \ \'/   \ \ \  \ \  __ \  \/_/\ \/ \ \ \/\ \  \ \  __<   \ \___  \  //
//   \ \_\ \_\  \ \__|    \ \_\  \ \_\ \_\    \ \_\  \ \_____\  \ \_\ \_\  \/\_____\ //
//    \/_/\/_/   \/_/      \/_/   \/_/\/_/     \/_/   \/_____/   \/_/ /_/   \/_____/ //
//-----------------------------------------------------------------------------------//
//                 A UI Toolkit that instantly makes you look cool                   //
///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                                                  `.-::::--..                      //
//                                               .-:-.`  ``.-+oo+:-`   `.....`       //
//                                            `-::.`           `-+yyssyhhhhhhys/`    //
// -:-`                                     .::-.   ```..-::/osyhhdddmmmmdddddhyo`   //
// .::/+:`                        ```..-://+oo++++oo//::-...oyddmmmmmddddddddddhyo/  //
//  ::--/o+-`                `.:+osyyhhhddddddddddhhs/..::/oydddddddddddddddddddys/  //
//  `::. `-oo/.`          `:oshddddmmmmmmmmmmmmddddddyy/:-:yhddddddddddddddddddhy-   //
//   `-.    .:oo/.`     `/shddmmmmmmdddddddddddddddddhy` -:yhddddddddddddddddddys    //
//            `.+so+-   +yhddddddddddddddddddddddddddyo  :syyhddddddddddddddddhy:    //
//               `-+s+:/yhddddddddddddddddddddddddddhs.   `+yyhddddddddddddddhy+     //
//                  `::oyddddddddddddddddddddddddddhy-      .+yhddddddddddddhy+`     //
//                     :yhddddddddddddddddddddddddhy:         /yhddddddddddhs:       //
//                     .yhddddddddddddddddddddddhys-           ./shhhdddhhy+.        //
//                      /yhdddddddddddddddddddhhs/`              `-/+ooo+:`          //
//                       /yhdddddddddddddddhhyo:`                                    //
//                        .+yhhddddddddhhhyo:.                                       //
//                          `-+osyyyyso/:.                                           //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////

//
// © 2014 HeisenBugDev
// All rights reserved
//

body {
  margin: 0;
}

* {
  font-weight: 300;
}

p {
  font-weight: 400;
}

.loading {
  visibility: hidden;
}